.footer {

}

.footer__info-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.footer__form-wrapper {
  padding-top: 40px;
  background-color: #0b1536;
  background-image: url('../img/footer/bg-short-form-wrap.webp');
}

.footer__section-header {
  font-family: var(--main-font);
  font-size: 42px;
  color: #0b1536;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 2rem;
}
/*  */
.main-form {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.main-form__span-tip {

}

.main-form__input {
  padding: 14px;
  font-size: 16px;
  border: 1px solid #6d88e2;
}

.main-form__input + .main-form__input {
  margin-top: 30px;
}

.main-form__input_textarea {
  font-family: 'Roboto';
}

.main-form__link-info {
  margin-top: 20px;
  display: inline-flex;
  text-decoration: underline;
  color: #000;
  transition: color .4s ease-in-out;
}

.main-form__link-info + .main-form__link-info {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 2px solid currentColor;
}

.main-form__link-info:hover {
  color: var(--cherry-color);
}

.main-form__label {
  margin: 30px 0;
}

.main-form__button {
  position: relative;
  background-color: #444;
  align-self: start;
  min-width: 300px;
  max-width: 380px;
  padding: 20px 40px;
  text-transform: capitalize;
  color: var(--light-color);
  font-size: 16px;
  border: none;
  border-radius: 50px;
  transition: backgroun-color .4s ease-in-out;
}

.main-form__button:hover {
  background-color: #222;
}

.main-form__button:after {
  content: '\f101';
  font-family: FontAwesome;
  position: absolute;
  right: 50px;
}

/* footer__decoration */
.footer__wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer__recognition-wrapper {
  height: 50%;
  background-color: var(--light-color);
  padding: 50px;
  padding-top: 90px;
  padding-left: 70px;
  min-height: 400px;
}

.recognition__img-wrapper {
  display: flex;
  align-items: center;
}

.recognition__img-small + .recognition__img-small {
  margin-left: 20px;
}

.footer__decoration {
  position: relative;
  height: 50%;
  background-color: #0b1536;
  background-image: url('../img/footer/bg-bottom-right-wrap.webp');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 400px;
}

.footer__decoration-text {
  position: absolute;
  bottom: 40px;
  padding: 20px;
  background-color: hsla(200, 90%, 20%, .5);
  width: 100%;
  color: var(--light-color);
  font-weight: bold;
  font-size: 30px;
}

/* Office locatyion style */
.office-location {
  background-color: #393f7e;
  padding: 50px;
}

.office-location__header {
  color: var(--light-color);
  text-align: center;
}

.office-location__location-wrapper {
  display: flex;
  justify-content: space-between;
}

.office-location__item {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}

.office-location__item_plus-icon {
  position: relative;
}

.office-location__item_plus-icon:before {
  content: '\f041';
  font-family: FontAwesome;
  position: absolute;
  left: 0px;
  font-size: 50px;
  color: var(--light-color);
  top: 20px;
  transform: translateY(-50%);
}

.office-location__item + .office-location__item {
  border-left: 1px solid var(--light-color);
}

.office-location__address {
  display: flex;
  flex-direction: column;
}

.office-location__address-span {
  color: var(--light-color);
}

.office-location__address-span + .office-location__address-span {
  margin-top: 10px;
}

.office-location__address-span_upper {
  text-transform: uppercase;
}

.office-location__btn {
  position: relative;
  justify-self: left;
  display: block;
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 12px;
  color: var(--light-color);
  background-color: transparent;
  border: 2px solid var(--light-color);
  border-radius: 30px;
  padding: 14px 36px;
  transition: background-color .4s ease-in-out,
  border-color .4s ease-in-out;
}

.office-location__btn:after {
  content: '\f101';
  font-family: FontAwesome;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.office-location__btn:hover {
  background-color: #f00;
  border-color: transparent;
}

/* footer contacts Yeellow block */
.footer__contacts {
  background-color: #d4b10f;
  display: flex;
  padding: 0 50px;
  justify-content: space-between;
  align-items: center;
}

.footer-phone-contacts {
  display: flex;
}

.footer-phone-contacts__item + .footer-phone-contacts__item {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 2px solid #060e27;
}

.footer-phone-contacts__phone-title {
  font-family: var(--main-font);
  color: #060e27;
  font-size: 24px;
}

.footer-phone-contacts__phone-number {
  font-family: var(--main-font);
  color: #060e27;
  font-size: 28px;
  font-weight: bold;
}

/* footer social sites */
.social-sites {
  background-color: hsla(290, 90%, 10%, .2);
}

.social-sites__list {
  list-style: none;
  display: flex;
  padding: 50px;
}

.social-sites__item {

}

.social-sites__item + .social-sites__item {
  margin-left: 20px;
}

.social-sites__link {
  font-size: 40px !important;
  color: var(--light-color);
}

/*  */
.last-info {
  padding: 80px;
  /* display: block; */
  flex-direction: column;
  align-items: center;
}

.last-info__btn {
  margin: 0 auto;
  margin-bottom: 3rem;
  background-color: #cf1c0a;
  color: var(--light-color);
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 14px 32px;
  border-radius: 50px;
  border: none;
  transition: background-color .4s ease-in-out;
}

.last-info__btn:hover {
  background-color: var(--cherry-color);
}

.last-info__links {
  display: flex;
  align-items: baseline;
}

.last-info-list-links {
  display: flex;
  list-style: none;
  margin-top: 20px;
}

.last-info-list-links__item {

}

.last-info-list-links__item + .last-info-list-links__item {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 2px solid currentColor;
}

.last-info-list-links__link, .last-info__link {
  text-decoration: underline;
  color: #000;
  transition: color .4s ease-in-out;
}

.last-info-list-links__link:hover, .last-info__link:hover {
  color: var(--cherry-color);
}

@media (max-width: 980px) {

  .footer__info-wrapper {
    display: block;
  }

  .office-location__location-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .office-location__btn {
     align-self: baseline;
  }

  .office-location__item + .office-location__item {
    border-left: none;
    margin-top: 3rem;
  }

  .last-info-list-links {
    flex-direction: column;
  }

  .last-info__links {
    display: block;
  }

  .last-info-list-links__item + .last-info-list-links__item {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
    margin-top: 10px;
  }

  .last-info-links__span {
    margin-top: 10px;
    display: inline-block;
  }
}

@media (max-width: 700px) {
  .footer__contacts {
    padding-top: 2rem;
    flex-flow: column;
    align-items: center;
  }

  .recognition__img-wrapper {
    flex-direction: column;
  }

  .recognition__img-small + .recognition__img-small {
    margin-top: 2rem;
  }

  .social-sites {
    margin-top: 3rem;
  }
}